/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

 .content-container{
 	padding-top: 5%;
 }

 fieldset{
 	margin: 1.125rem 7rem;
 }

.article-card {
	border: 1px solid #d7d7d7;
	margin-bottom: 1.5rem;
	box-shadow: 2px 4px 5px 0px #d7d7d7;
	height: 38rem;
	.card-content {
		background: #fff;
		margin: 1.25rem;
		.post-author {
			text-align: center;
		}
		h4 {
			color: #739FD4;
		}
		p {
			color: #865332;
		}
		a i {
			font-weight: 300;
			color: #865332;
			margin: 0 .5rem;
			padding: 5px 7px 5px 7px;
			border: 1px solid #757D75;
			border-radius: 50%;
		}
		img.post-icon {
			position: absolute;
			width: 3rem;
			border-radius: 50%;
			margin-top: -3rem;
		}
	}
}

.logo{
	margin-left:1.5em;
	margin-top:1em;
	height: 80px;
	width: auto;
}

#orbit-row {
	margin-left: 0;
	margin-right: 0;
	margin-bottom:3.5em;
	width:100%;
	max-width: none;
}

.radius {
	position: absolute;
	font-size:1em;
	border-radius:0px;
	border: 3px solid white;
	border-color: white;
	background-color: rgba(0,0,0,0);
	color: white;
}


.radius:visited{
	color: white;
}

 .radius:hover{
	border-color: #6EC2E1;
}

#first {
	top:75%;
	left:66%;
}

#second {
	top:68%;
	left:66%;
}

#third {
	top:67%;
	left:74%;
}
.top-bar {
	background-color: #FFFFFFF;
}

a:hover {
	background-color: #FFFFFF;
}

.slider-img {
	width: 100%;
	vertical-align: middle;
	display: inline-block;
}

.orbit-container{
	height: 80%;
	overflow: hidden;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.sub-nav dd{
	float: right;
}

.fixed{
	background-color: white;
}

.divider {
	height:1px;
	width:100%;
	background-color: #D9DBDA;
	margin-top: 1em;
	margin-bottom: 2em;
}

.divider-index{
	height:1px;
	width:80%;
	background-color: #D9DBDA;
	margin-top: 3em;
	margin-bottom: 3em;
	margin: auto;
}

.about-homepage{
	font-size: 2em;
	font-family: "Open Sans";
	font-weight: 300;
	color: #9c9e9d;
	text-align: center;
	margin: 1em;
}


.crop {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 20px;
    position: relative;

  img {
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    height: 100%;
    min-width: 100%;
    max-width: none;
  }
}